<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <!-- system.net settings -->
    <system.net>
      <mailSettings>
        <smtp from="eesoonshen90@gmail.com" deliveryMethod="Network">
            <network defaultCredentials="false" host="smtp.gmail.com" port="587" password="eess0608" userName="eesoonshen90@gmail.com" />
         </smtp>
      </mailSettings>
    </system.net>
  
    <!-- Configuration -->
    <appSettings>
      <add key="SMTP" value="smtp.gmail.com"/>
      <add key="Port" value="587"/>
      <add key="From" value="eesoonshen90@gmail.com"/>
      <add key="Pword" value="eess0608"/>
      <add key="To" value="kenneth@vintedge.com"/>
      <add key="Subject" value="New Order"/>
      <add key="Body" value="Hello, I'm just writing this to say Hi!"/>
    </appSettings>
</configuration>
